@using UMS.Models
@using UMS.Core
@{
    ViewBag.Title = "角色授权设置";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<PermModel> perm = (List<PermModel>)ViewBag.Perm;

    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}
<script src="@Url.Content("~/Content/Js/Right/Right.js")" type="text/javascript"></script>

<div class="mvctool">
    @Html.ToolButton("btnSave", "icon-save", "保存", perm, "Save", true)
</div>
<table style="width: 100%">
    <tbody>
        <tr>
            <td style="width: 420px; padding-right: 3px; vertical-align: top">
                <table id="roleList"></table>
            </td>
            <td style="width: 200px; padding-right: 3px; vertical-align: top">
                <table id="moduleList"></table>
            </td>
            <td>
                <table id="operateList"></table>
            </td>
        </tr>
    </tbody>
</table>
 